body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #111;
    color: white;
}

.app {
    display: flex;
    height: 100vh;
}

/* LEFT */
.sidebar {
    width: 280px;
    background: #1a1a1a;
    padding: 15px;
}

/* MAP */
#map {
    flex: 1;
}

/* BUTTONS */
button {
    width: 100%;
    padding: 10px;
    margin-bottom: 8px;
    background: #2a2a2a;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background: #3a3a3a;
}

/* LIST */
ul {
    list-style: none;
    padding: 0;
}

li {
    padding: 8px;
    background: #2a2a2a;
    margin-bottom: 5px;
    border-radius: 6px;
    cursor: pointer;
}

li:hover {
    background: #3a3a3a;
}

/* RIGHT PANEL */
.panel {
    width: 300px;
    background: #181818;
    padding: 15px;
    border-left: 1px solid #333;
    overflow-y: auto;
}
